﻿@inherits ComponentBase
@inject NavigationManager _navigationManager

@if (SelectedDirectory == null)
{
    <div class="repo-content-header">Nothing selected</div>
}
else
{
    <div class="container-fluid repo-content-header">
        <div class="row justify-content-between">
            <div class="repo-folder-name">Folder: @SelectedDirectory.Name</div>
            <div class="repo-folder-actions">
                <button class="btn btn-circ btn-outline-primary" title="Add folder">
                    <span class="oi oi-plus"></span>
                </button>
                <button class="btn btn-circ btn-outline-primary" title="Upload file" @onclick="@OnUploadClick">
                    <span class="oi oi-cloud-upload"></span>
                </button>
            </div>
        </div>
    </div>
    <div>
        @foreach (var node in SelectedDirectory.Directories)
        {
            <a class="plain-link" href="@string.Concat(_navigationManager.Uri.Split('?')[0], "?", node.Path)"
               @onclick="@(e => ContentSelected(node))"
               @ondblclick=@(e => { SelectedDirectory = node; InvokeAsync(StateHasChanged);})>
                <div class="repo-content-node">
                    <span class="oi oi-folder"></span>
                    <span>@node.Name</span>
                </div>
            </a>
        }
        @foreach (var node in SelectedDirectory.Files)
        {
            <a class="plain-link" href="@string.Concat(_navigationManager.Uri.Split('?')[0], "?", node.Path)" @onclick="@(e => ContentSelected(node))">
                <div class="repo-content-node">
                    <span class="oi oi-file"></span>
                    <span>@node.Name</span>
                </div>
            </a>
        }
    </div>
}

@code{

    [Parameter]
    public IRepositoryDirectory SelectedDirectory { get; set; } = null;

    [Parameter]
    public Action<IRepositoryNode> ContentSelected { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnUploadClick { get; set; }

    public void OnSelectionChanged(IRepositoryDirectory selectedDirectory)
    {
        SelectedDirectory = selectedDirectory;
        InvokeAsync(StateHasChanged);
    }

}