@attribute [Authorize]

@inject IUserAccessor _user
@inject LinkGenerator _link
@inject IHttpContextAccessor _context
@inject IRepositoryAccessor _fs
@inject RepositoryContext _db
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager

@if (Repository != null)
{
    @if (TryAccessRepository(out var ru))
    {
        <DxPopup HeaderText="Upload Files" @bind-Visible="@PopupVisible" CssClass="upload-dialog">
            <div id="upload-drop-zone" class="card custom-drop-zone jumbotron">
                <svg class="drop-file-icon mb-3" role="img">
                    <use href="#drop-file-icon">
                        <svg id="drop-file-icon" viewBox="0 0 42 42">
                            <g id="_x32_">
                                <path id="_x33_" class="st0" d="M34,42H8c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h19l11,11v27C38,40.2,36.2,42,34,42z M27,4v7h7L27,4z
                                                                                                                                                   		 M34,14H24V4H8v34h26V14z"></path>
                            </g>
                            <g id="_x31_2">
                                <path id="_x33__1_" class="st0" d="M28,26h-5v8h-2h-2v-8h-5l7-7L28,26z"></path>
                            </g>
                        </svg>
                    </use>
                </svg>

                <span>Drag and Drop File Here</span><span class="m-1">or</span>
                <button id="upload-select-button" class="btn border-primary btn-primary m-1">Select File</button>
            </div>
            <DxUpload Name="myFile"
                      Visible="true"
                      ExternalSelectButtonCssSelector="#upload-select-button"
                      ExternalDropZoneCssSelector="#upload-drop-zone"
                      ExternalDropZoneDragOverCssClass="custom-drag-over border-light text-white"
                      UploadUrl="@GetUploadUrl()"
                      SelectedFilesChanged="@SelectedFilesChanged"
                      AllowMultiFileUpload="true"
                      ChunkSize="10485760">
            </DxUpload>
        </DxPopup>
        <DxPopup HeaderText="Confirm action" @bind-Visible="@DeletePopupVisible" CssClass="action-dialog">
        </DxPopup>

        <h1>Repository @Repository.Name</h1>
        <div>Your role in this repository: @ru.Role</div>
        <hr class="dark"/>
        <div class="container-fluid h-repo-single">
            <div class="row h-100">
                <div class="col-md-3 col-repo-left">
                    <DxTreeView @ref="TreeView" AllowSelectNodes="true"
                                 SelectionChanged="@SelectionChanged"
                                 AfterExpand="@ExpandChanged"
                                 AfterCollapse="@ExpandChanged"
                                 Data="@Root"
                                 HasChildrenExpression="@(i => ((IRepositoryDirectory) i).Directories.Any())"
                                 ChildrenExpression="@(i => ((IRepositoryDirectory) i).Directories)"
                                 TextExpression="@(i => ((IRepositoryDirectory) i).Name)"/>
                </div>
                <div class="col-md-7 col-repo-center">
                    <ContentComponent @ref="ContentView" SelectedDirectory="@_selectedDirectory" ContentSelected="@ContentSelected" OnUploadClick="@OnUploadClick"/>
                </div>
                <div class="col-md-2 col-repo-right">
                    <Meta @ref="MetaView" SelectedContent="@_selectedContent" GetShares="@GetShareLinks"/>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>You do not have access rights to this repository.</div>
    }
}
else
{
    <div>Invalid Repository ID. Select a repository from <NavLink href="repository/all/">here</NavLink>.</div>
}

@code{

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Path { get; set; }

    private bool PopupVisible { get; set; } = false;
    private bool DeletePopupVisible { get; set; } = false;

    private DxTreeView TreeView { get; set; }
    private ContentComponent ContentView { get; set; }
    private Meta MetaView { get; set; }

    private Repository Repository { get; set; }

    private IRepositoryDirectory _root;
    private IEnumerable<IRepositoryDirectory> Root => new[] {_root};

    private IRepositoryDirectory _selectedDirectory = null;
    private IRepositoryNode _selectedContent = null;
    private string _expandChangedFor = null;

    private string GetChildLink(string path)
    {
        return _link.GetPathByPage(_context.HttpContext, "/Repository/ViewSingle", values: new {id = Id, Path = path});
    }
    
    private void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
    }

    private string GetUploadUrl()
    {
        return _navigationManager.ToAbsoluteUri($"repository/{Repository.Id}/upload/{_selectedDirectory.Path}").AbsoluteUri;
    }

    private void OnUploadClick(MouseEventArgs _)
    {
        PopupVisible = true;
    }

    private void SelectionChanged(TreeViewNodeEventArgs e)
    {
        if (_expandChangedFor != null && _expandChangedFor == ((IRepositoryNode) e.NodeInfo.DataItem).Path) // Cancel the event
        {
            _expandChangedFor = null;
            return;
        }
        var dir = (IRepositoryDirectory) e.NodeInfo.DataItem;
        _selectedDirectory = dir;
        MetaView.OnSelectionChanged(dir);
        ContentView.OnSelectionChanged(dir);
    }

    private void ContentSelected(IRepositoryNode node)
    {
        MetaView.OnSelectionChanged(node);
        _selectedContent = node;
    }

    private void ExpandChanged(TreeViewNodeEventArgs e)
    {
        _expandChangedFor = ((IRepositoryNode) e.NodeInfo.DataItem).Path;
    }

    private bool TryAccessRepository(out RepositoryUser repositoryUser)
    {
        repositoryUser = Repository.Users.FirstOrDefault(ru => ru.UserId == _user.NameId);
        _root = _fs.Root(Repository.Id);
        return repositoryUser != null;
    }

    private void ViewDeepLink(string deepLink)
    {
        var root = System.IO.Path.GetPathRoot(deepLink)?.Replace('\\', '/') ?? "/";
        var target = System.IO.Path.GetDirectoryName(deepLink)?.Replace('\\', '/') ?? "/";

    // Find first


        if (root != target)
        {
            TreeView.SetNodeExpanded(n => target.StartsWith(((IRepositoryNode) n.DataItem).Path), true);
        }
    }

    private IEnumerable<Share> GetShareLinks(string path)
    {
        return Repository == null ? Array.Empty<Share>() : _db.GetShares(Repository.Id, path);
    }


    protected override void OnParametersSet()
    {
        Repository = _db.GetRepositoryAndCheckAccess(Id);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        var deepLinkIdx = _navigationManager.Uri.IndexOf("?", StringComparison.Ordinal);
        if (deepLinkIdx < 0)
        {
            return;
        }
        var deepLink = _navigationManager.Uri.Substring(deepLinkIdx + 1);
        ViewDeepLink(deepLink);
    }



}