﻿@inject NavigationManager _navigationManager
@inject RepositoryContext _db
<div id="meta-info">
    @if (SelectedContent == null)
    {
        <div class="meta-info-section">
            <div>Nothing selected</div>
        </div>
    }
    else
    {
        <div class="meta-info-section">
            <div>Name: @SelectedContent.Name</div>
            @if (SelectedContent is IRepositoryFile file)
            {
                <div>Size: @FormatBytes(file.Size)</div>
            }
            else if (SelectedContent is IRepositoryDirectory dir)
            {
                <div>Directories inside: @dir.Directories.Count()</div>
                <div>Files inside: @dir.Files.Count()</div>
            }
            else
            {
                <div>Unknown node Type</div>
            }
        </div>
        <div class="meta-info-section">
            <div class="header">
                <b>Actions</b>
            </div>
            <div class="actions">
                <button class="btn btn-circ btn-outline-secondary" title="Download">
                    <span class="oi oi-data-transfer-download"></span>
                </button>
                <button class="btn btn-circ btn-outline-secondary" title="Share...">
                    <span class="oi oi-link-intact"></span>
                </button>
                <button class="btn btn-circ btn-outline-secondary" title="Delete">
                    <span class="oi oi-trash"></span>
                </button>
            </div>
        </div>
        <div class="meta-info-section">
            <div class="header">
                <b>Share link(s)</b>
            </div>
            @if (_cachedShares.Count > 0)
            {
                <div class="actions">
                    <div></div>
                </div>
            }
            else
            {
                <div>
                    <i>No share links.</i>
                </div>
            }
        </div>
    }
</div>

@code{

    [Parameter]
    public IRepositoryNode SelectedContent { get; set; } = null;

    [Parameter]
    public Action<IRepositoryNode> ContentSelected { get; set; }

    [Parameter]
    public Func<string, IEnumerable<Share>> GetShares { get; set; }

    private IList<Share> _cachedShares = new List<Share>();

    public void OnSelectionChanged(IRepositoryNode selectedNode)
    {
        SelectedContent = selectedNode;
        _cachedShares = GetShares(selectedNode.Path).ToList();
        InvokeAsync(StateHasChanged);
    }

    public static string FormatBytes(long bytes)
    {
        const decimal kb = 1024M;
        const decimal mb = kb * 1024M;
        const decimal gb = mb * 1024M;
        const decimal tb = gb * 1024M;
        const decimal pb = tb * 1024M;

        if (bytes < 0L)
        {
            return "invalid";
        }

        var size = bytes * 1M;

        string suffix;
        if (size > pb)
        {
            size /= pb;
            suffix = "PB";
        }
        else if (size > tb)
        {
            size /= tb;
            suffix = "TB";
        }
        else if (size > gb)
        {
            size /= gb;
            suffix = "GB";
        }
        else if (size > mb)
        {
            size /= mb;
            suffix = "MB";
        }
        else if (size > kb)
        {
            size /= kb;
            suffix = "KB";
        }
        else
        {
            suffix = "B";
        }
        return $"{size:0.00} {suffix}";
    }

}