@page "/account/login"
@page "/account/login/#failed"
@inject NavigationManager _navigationManager

<form method="post" action="/logon">
    <h4>Use a local account to log in.</h4>
    <hr/>
    @if (_navigationManager.Uri.EndsWith("#failed"))
    {
        <ul class="validation-errors">
            <li class="validation-message">The specified username and password are incorrect</li>
        </ul>
    }
    <div class="form-group">
        <label for="Username" class="col-md-2 control-label">Username</label>
        <div class="col-md-10">
            <input id="Username" name="Username" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input name="Password" type="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label asp-for="RememberMe">Remember me? </label>
                <input type="checkbox" name="RememberMe"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </div>
</form>