@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

hr.dark {
    border-color: lightgray;
}

#upload-drop-zone {
    text-align: center;
    border-color: gray;
}

#upload-drop-zone > svg {
    width: 42px;
    height: 42px;
    margin: auto;
}

.btn-circ .oi {
    position: relative;
    top: 3px;
    left: -2px;
}

.btn-circ .oi.oi-trash {
    left: -1px;
}

.btn-circ {
    width: 38px;
    height: 38px;
    border-radius: 38px;
}

.col-repo-left {
    border-right: 1px solid lightgrey;
    padding-left: 0;
}

.col-repo-right {
    border-left: 1px solid lightgrey;
    padding-right: 0;
}

.repo-content-node {
    border: 1px solid gray;
    margin: 3px 0;
    padding: 10px 15px;
}

.repo-content-header .repo-folder-name {
    margin: auto 6px;
}

.repo-list-node .repo-name {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 0;
    padding: 6px 12px;
}

.nav-link-repo {
    padding-bottom: 0;
    padding-top: 0;
}

.nav-link-repo .nav-link-repo-h {
    margin-right: 16px;
    position: relative;
    top: -23px;
    box-sizing: unset;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    left: 37px;
}

.nav-link-repo:not(:nth-last-child(2)) .nav-link-repo-h::before {
    content: '...........';
}

.nav-link-repo:nth-last-child(2) .nav-link-repo-h::before {
    content: '......';
}

.nav-link-repo .nav-link-repo-v {
    margin-right: 16px;
    position: relative;
    top: -5px;
    margin-left: -5px;
}

#meta-info .meta-info-section:not(:first-child) {
    margin-top: 2em;
    border-top: 1px solid darkgray;
    padding-top: 1em;
}

.meta-info-section .header {
    margin-bottom: 0.5em;
}

.meta-info-section .actions button:not(:first-child) {
    margin-left: 0.3em;
}

.upload-dialog {
    max-width: unset;
    width: 80vw;
    height: 90vh;
}

.upload-dialog .modal-content {
    height: 100%;
}

.upload-dialog .modal-header {
    font-weight: bold;
}

.upload-dialog .modal-body {
    height: calc(100% - 57px);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.plain-link {
    color: inherit !important;
}

.plain-link:hover {
    text-decoration: unset;
}

.repo-content-header {
    margin: 6px 0 18px 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #d6d5d5;
}

.main {
    flex: 1;
}

.main .top-row {
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
    padding: unset;
}

.sidebar .navbar-content {
    height: calc(100% - 56px);
    border-right: 1px solid lightgray;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    height: calc(100% - 3.5rem);
    min-height: 400px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

ul.validation-errors {
    padding-inline-start: 15px !important;
}

li.validation-message {
    list-style: none;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.h-repo-single {
    height: calc(100% - 115px);
}
