﻿@page "/repository/add/"
@inject IUserAccessor _user
@inject RepositoryContext _db
@inject NavigationManager _navigationManager

<AuthorizeView>
    <Authorized Context="auth">
        <DxFormLayout>
            <DxFormLayoutGroup Caption="Basic Information" ColSpanMd="12" ColSpanLg="6">
                <DxFormLayoutItem Caption="Repository Name:" ColSpanMd="12">
                    <Template>
                        <DxTextBox @bind-Text="_model.Name"/>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Repository Owner:" ColSpanMd="12">
                    <Template>
                        <DxTextBox readonly text="@_user.NameId"/>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Additional Users" ColSpanMd="12" ColSpanLg="6">
                <DxFormLayoutItem Caption="Additional Managers:" ColSpanMd="12">
                    <Template>
                        <DxTagBox Data="@_users" AllowCustomTags="false" @bind-SelectedItems="_model.AdditionalManagers" HideSelectedItems="true"/>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Additional Members:" ColSpanMd="12">
                    <Template>
                        <DxTagBox Data="@_users" AllowCustomTags="false" @bind-SelectedItems="_model.AdditionalMembers" HideSelectedItems="true"/>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
        <button class="btn btn-primary" type="submit" @onclick="@HandleSubmit" style="margin: 0 15px;">Create</button>
    </Authorized>
    <NotAuthorized>
        @{ _navigationManager.NavigateTo(""); }
    </NotAuthorized>
</AuthorizeView>

@code {
    private readonly AddRepositoryModel _model = new AddRepositoryModel();
    private IEnumerable<string> _users = null;

    protected override void OnInitialized()
    {
        _model.Owner = _user.NameId;
        _users = _db.GetOtherUsers().Select(u => u.Id);
    }

    private async void HandleSubmit()
    {
        var repo = _db.Add(new Repository
        {
            Name = _model.Name
        });
        await _db.SaveChangesAsync();
        _db.Add(new RepositoryUser
        {
            RepositoryId = repo.Entity.Id,
            UserId = _model.Owner,
            Role = Roles.OWNER,
        });
        foreach (var manager in _model.AdditionalManagers)
        {
            _db.Add(new RepositoryUser
            {
                RepositoryId = repo.Entity.Id,
                UserId = manager,
                Role = Roles.MANAGER,
            });
        }
        foreach (var member in _model.AdditionalMembers)
        {
            _db.Add(new RepositoryUser
            {
                RepositoryId = repo.Entity.Id,
                UserId = member,
                Role = Roles.MANAGER,
            });
        }
        await _db.SaveChangesAsync();
        _navigationManager.NavigateTo("/repository/" + repo.Entity.Id + "/#created");
    }

}