﻿@page "/repository/all/"
@attribute [Authorize]
@inject RepositoryContext _db
@inject NavigationManager _navigationManager

@if (_db.HasRepositories())
{
    @foreach (var c in _db.GetRepositories())
    {
        <a href="@string.Concat("repository/", c.Id.ToString(), "/view/")" class="btn btn-block repo-list-node">
            <div class="repo-name">
                @c.Name
            </div>
        </a>
    }
}
else
{
    <div>No repositories exist yet! Add one <NavLink href="repository/add/">here</NavLink></div>
}