﻿@inject IUserAccessor _user
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Hello, @_user.Name!
        </Authorized>
        <NotAuthorized>
            <a href="/logon">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>