﻿@inject RepositoryContext _db
@inject IUserAccessor _user
<CascadingAuthenticationState>
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">phile.io</a>
    </div>

    <div class="navbar-content">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-link" href="repository/all/" Match="NavLinkMatch.All">
                    <span class="oi oi-folder" aria-hidden="true"></span> Repositories
                </NavLink>
                <AuthorizeView>
                    <Authorized>
                        @foreach (var repo in  _db.GetMyRepositories().Take(10))
                        {
                            <NavLink class="nav-link nav-link-repo" href="@string.Concat("repository/", repo.RepositoryId, "/view/")" Match="NavLinkMatch.All">
                                <span class="nav-link-repo-h"></span>
                                <span class="nav-link-repo-v">....</span>
                                <span>@repo.Repository.Name</span>
                            </NavLink>
                        }
                    </Authorized>
                </AuthorizeView>

                <NavLink class="nav-link" href="repository/add/" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Repository
                </NavLink>
            </li>
        </ul>
    </div>
</CascadingAuthenticationState>