﻿@page "/"
@using DevExpress.Blazor
@using Microsoft.Extensions.Configuration
@inject NavigationManager _navigationManager
@inject IConfiguration _configuration

<h1>@(_configuration.GetValue<string>("AppName"))</h1>
<div id="upload-drop-zone" class="card custom-drop-zone jumbotron">
    <svg class="drop-file-icon mb-3" role="img">
        <use href="#drop-file-icon">
            <svg id="drop-file-icon" viewBox="0 0 42 42">
                <g id="_x32_">
                    <path id="_x33_" class="st0" d="M34,42H8c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h19l11,11v27C38,40.2,36.2,42,34,42z M27,4v7h7L27,4z
                                                                                                               		 M34,14H24V4H8v34h26V14z"></path>
                </g>
                <g id="_x31_2">
                    <path id="_x33__1_" class="st0" d="M28,26h-5v8h-2h-2v-8h-5l7-7L28,26z"></path>
                </g>
            </svg>
        </use>
    </svg>

    <span>Drag and Drop File Here</span><span class="m-1">or</span>
    <button id="upload-select-button" class="btn border-primary btn-primary m-1">Select File</button>
</div>
<DxUpload Name="myFile"
          Visible="@UploadVisible"
          ExternalSelectButtonCssSelector="#overviewDemoSelectButton"
          ExternalDropZoneCssSelector="#overviewDemoDropZone"
          ExternalDropZoneDragOverCssClass="custom-drag-over border-light text-white"
          UploadUrl="@GetUploadUrl("api/upload/")"
          SelectedFilesChanged="@SelectedFilesChanged"
          AllowMultiFileUpload="true"
          ChunkSize="10485760">
</DxUpload>

@code {
    bool UploadVisible { get; set; } = false;

    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;

        InvokeAsync(StateHasChanged);
    }

    protected string GetUploadUrl(string url)
    {
        return _navigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }

}