﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>phile.io</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap-darkly/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet"/>
</head>
<body>
<app>
    <div class="sidebar">
        <component type="typeof(NavMenu)" render-mode="ServerPrerendered" />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <component type="typeof(LoginDisplay)" render-mode="ServerPrerendered"/>
        </div>

        <div class="content px-4">
            @RenderBody()
        </div>
    </div>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>
