﻿@page "/"
@inject IUserAccessor _user

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <div>Name: @_user.Name</div>
        <div>Name ID: @_user.NameId</div>
    </Authorized>
    <NotAuthorized>
        Nothing to view, click <a href="/logon">here</a> to log in.
    </NotAuthorized>
</AuthorizeView>